<footer  class="footer_site_row_outer padding_topm">
       <div class="content1366">
<div class="footer_top_columns  padding_botm">
      <div class="footer_columns_widget">
    <div class="social_media_columns ">
     <p>We Build What You Love. We build high quality web and mobile applications which make you standout in competitive market.</p>
             <div class="social_media">
  <ul>
<li><a title="facebook" target="_blank" class="icon_sol" href="https://www.facebook.com/Ivishsolution" rel="noopener"><i class="fa-brands fa-facebook-f"></i> </a></li>
<li><a title="linkedin" target="_blank" class="icon_sol" href="https://www.linkedin.com/in/ivish-solution-8a7345194/" rel="noopener"><i class="fa-brands fa-linkedin-in"></i> </a></li>
<li><a title="twitter" target="_blank" class="icon_sol" href="https://twitter.com/ivishsolution" rel="noopener"><i class="fa-brands fa-x-twitter"></i> </a></li>
<li><a title="instagram" target="_blank" class="icon_sol" href="https://www.instagram.com/sawariya_solution/" rel="noopener"><i class="fa-brands fa-instagram"></i> </a></li>
<li><a title="pinterest" target="_blank" class="icon_sol" href="https://in.pinterest.com/nextbigtechnology/" rel="noopener"><i class="fa-brands fa-pinterest-p"></i></a></li>
</ul>
    </div></div>
        </div><!-- footer_columns_widget -->


  <div class="footer_columns_widget">  
    <div class="footer_widget_nev"><h3>Quick Links</h3>
<div class="menu-footer-quick-links-2026-container"><ul id="menu-footer-quick-links-2026" class="menu"><li id="menu-item-105827" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105827"><a href="../pages/about-us/">About US</a></li>
<li id="menu-item-105828" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105828"><a href="../pages/ourservice/">Services</a></li>
<li id="menu-item-105830" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105830"><a href="../pages/our-work/">Portfolio</a></li>
<li id="menu-item-105829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105829"><a href="../pages/hire-developers-in-india/">Hire Developer</a></li>
<li id="menu-item-105831" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105831"><a href="../pages/blog/">Our Blogs</a></li>
<li id="menu-item-105832" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105832"><a href="../pages/our-work/">Our Work</a></li>
<li id="menu-item-105833" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105833"><a href="../pages/contact-us/">Contact Us</a></li>
</ul></div></div></div><!-- footer_columns_widget --> 



  <div class="footer_columns_widget">  
    <div class="footer_widget_nev"><h3>Our Services</h3>

<div class="menu-footer-our-services-2026-container"><ul id="menu-footer-our-services-2026" class="menu"><li id="menu-item-105834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105834"><a href="../pages/web-development/">Web Development</a></li>
<li id="menu-item-105835" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105835"><a href="../pages/mobile-app-development/">Mobile App Development</a></li>
<li id="menu-item-105836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105836"><a href="../pages/ecommerce-development-company-india-usa-uk/">Ecommerce Development</a></li>
<li id="menu-item-105837" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105837"><a href="../pages/digital-marketing-services/">Digital Marketing</a></li>
<li id="menu-item-105838" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105838"><a href="../pages/api-integration-services/">API Integration Services</a></li>
<li id="menu-item-105839" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105839"><a href="../pages/top-ai-ml-development-company/">AI &#038; ML Development</a></li>
</ul></div>


</div></div><!-- footer_columns_widget --> 



  <div class="footer_columns_widget">  
    <div class="footer_widget_getintch"><h3>Get in touch</h3>
<div class="box_getintch">
  <div class="icon-fayy"><i class="fa fa-envelope" aria-hidden="true"></i></div>
  <div class="icon-fatxty"><label>Email</label><a title="Email" target="_blank" href="mailto:admin@sawariyasolution.com">admin@sawariyasolution.com</a></div>
</div>
<div class="box_getintch">
  <div class="icon-fayy"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></div>
  <div class="icon-fatxty"><label>WhatsApp</label><a title="WhatsApp" target="_blank" href="https://wa.me/+91 7016064136">+91 7016064136</a></div>
</div>
<div class="box_getintch">
  <div class="icon-fayy"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  <div class="icon-fatxty"><label>Location</label><p>Vadodara, Gujarat, India</p></div>
</div>


</div></div><!-- footer_columns_widget --> 
  






</div>
<!-- footer_top_columns -->


      <div class="footer_copyright_columns displayflex_box">
        <div class="footer_copyright_left"><div id="custom_html-18" class="widget_text copyrigt_logo widget widget_custom_html"><div class="textwidget custom-html-widget"><ul> 
<li><a title="google" tagget="blank" href="https://www.google.co.in/search?q=nextbigtechnology.com&amp;sxsrf=ALeKk03ewC3NhqDYPbunxy8GXHUn6Cwg6A%3A1622038118214&amp;ei=ZlauYLzaDKSH8QOM9Ke4CQ&amp;oq=nextbigtechnology.com&amp;gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECdQ6B9Y6B9g8SJoAXAAeACAAZ0BiAGoApIBAzAuMpgBAKABAaoBB2d3cy13aXrAAQE&amp;sclient=gws-wiz&amp;ved=0ahUKEwi8peTuwufwAhWkQ3wKHQz6CZcQ4dUDCBA&amp;uact=5"><img src="../assets/images/uploads/2020/09/google3.png" alt="google3" width="120">
</a></li>
<li><a title="dmca" tagget="blank" href="https://www.dmca.com/Protection/Status.aspx?ID=e0dec804-1fa0-4439-bf4a-73b3464cbc20&amp;refurl=/"><img src="../assets/images/uploads/2022/05/dmca_protected_sml_120m.png" alt="dmca_protected_sml_120m"></a></li>
</ul></div></div></div>
        <div class="footer_copyright_right">2009-2026 Copyright Sawariya Solution</div>
      </div>
       </div>


<div class="whatsap-bxd"> 
        <ul>
<li class="whatp-in"> <a title="Whatsapp" href="https://wa.me/+917016064136" target="_blank" data-toggle="tooltip" data-title="Whatsapp Message" class="whatsapp"  aria-label="whatsapp"><img src="../assets/images/uploads/2025/03/whats.png" alt="icon"></a></li>
</div>

      </footer>